.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#logoutBtn {
    -fx-border-radius: 50;
    -fx-border-color: #fff;
    -fx-border-width: 1;
    -fx-background-radius: 50;
}


.table-view{
    -fx-table-color: #43dda1;
    -fx-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.table-view:focused .table-row-cell:selected {
    -fx-background-color: -fx-table-color  ;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-alignment: center;

}


.table-view:focused .table-row-cell:selected .table-cell{
    -fx-text-fill: white;
}

.table-view .jfx-rippler {
    -fx-rippler-fill: -fx-table-rippler-color;
}

.table-view .column-header ,
.table-view .column-header-background,
.table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.table-view .column-header{
    -fx-border-width : 0 0 0 0;
}

.table-view .column-header .label {
    -fx-font-family: "HK Grotesk SemiBold";
    -fx-font-size: 16px;
    -fx-text-fill : #5e5c5e;
    -fx-padding : 15 0 10 10;
    -fx-alignment: center-left;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot{
    -fx-background-color : #949494;
}


.table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.table-view .table-cell {
    -fx-border-width:0 0 0 0;
    -fx-padding : 0 0 0 15;
    -fx-alignment: center-left;
}

.table-view .column-overlay{
    -fx-background-color:  #43dda1;
}

.table-view .column-resize-line, .table-view .column-drag-header{
    -fx-background-color:  #43dda1;

}




.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}